.App {
  text-align: center;
  color:gold;
}

body{
  background-color:black;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form{
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
}

label{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
  font-size: 1.4rem;
}

input{
  width: 100%;
  margin: 5px 0 0;
  display: block;
  border: 2px solid teal;
  /* border-radius: 5px; */
  padding: 10px;
  transition: all 0.3s;
  /* font-size: 1.4rem; */
  letter-spacing: 0.5px;
  background-color:lightgoldenrodyellow;  
}
input:placeholder {
  color: #a8b2b2;
}
button{
  width: 150px;
  display: inline-block;
  padding: 8px 11px;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 0;
  border-radius: 5px;
  letter-spacing: 2px;
  outline: none;
  background-color:lightgoldenrodyellow;
  color: black;
}

.error {
  font-size: 0.7rem;
  color: red;
}
select{
  width: 100%;
  margin: 5px 0 0;
  display: block;
  border: 2px solid teal;
  padding: 10px;
  letter-spacing: 0.5px;
  background-color:lightgoldenrodyellow;  
  font-size: 1rem;
}


